@import url("https://fonts.googleapis.com/css2?family=Handjet&family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* @media screen and (min-width:1156px) { */
* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

main {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
  background: gray;
}

.game-containor {
  display: flex;
  width: 89%;
  height: 93%;
  border: 5px solid white;
  border-radius: 8px;
  background-color: black;
  box-shadow: 10px 10px 4px 2px #373737;
  flex-direction: row;
}

.details {
  width: 35%;
  height: 100%;
  /* background-color: red; */
  border-right: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #010408ff;
  font-family: "Handjet", cursive;
  font-size: 60px;
  line-height: 90px;
}

.xname,
.oname {
  width: 60%;
  display: flex;
  align-content: flex-start;
}

.xscore,
.oscore {
  display: flex;
  /* flex-direction: row; */
}

.xname .x,
.xscore .x {
  color: rgb(6, 173, 255);
}

.oname .o,
.oscore .o {
  color: #47ff05;
}

.xname,
.oname {
  color: rgb(255, 251, 18);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.xscore,
.oscore {
  color: #52ffeeff;
  text-transform: capitalize;
}

.gbox {
  position: relative;
  /* Add this line */
  z-index: 0;
  /* Add this line */
  margin-top: 50px;
}

.box {
  width: 65%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#box {
  font-family: "Preahvihear", sans-serif;
  font-size: 70px;
  color: rgb(6, 173, 255);

  text-shadow: rgb(29, 191, 161) 2px 3px 10px;
}

.game-box {
  width: 360px;
  height: 360px;
  border: 2px solid white;
  background-color: gray;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 7px 7px 17px -6px white;

  /* filter: blur(8px); */
}

.gbox {
  position: relative;
  /* Add this line */
  z-index: 0;
  /* Add this line */
  margin-top: 70px;
}

.row {
  width: 100%;
  height: calc(75vh / 3);
  border: 2px solid black;
  background-color: red;
  display: flex;
  overflow: hidden;
}

.row .g_box {
  width: calc(100% / 3);
  height: 100%;
  border: 2px solid black;
  background-color: #04041e;
  cursor: pointer;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .g_box:hover {
  background-color: #070735;
}

/* 
.line.visible {
    display: block;
    /* Make the line visible */

.game-animate-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 360px;
  background-color: transparent;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.line {
  height: 1%;
  width: 0%;
  background-color: red;
  position: relative;
  z-index: 60;
  transition: ease-in-out 0.2s;
  /* box-shadow: 0px 0px 1px 1px #d06c6c; */
}

.seperator {
  margin-top: 50px;
  width: 100%;
  border-bottom: 3px solid white;
  margin-bottom: 30px;
}

.button {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 60px; */
  visibility: hidden;
}

.button button {
  font-family: "Bricolage Grotesque", sans-serif;
  width: 216px;
  height: 51px;
  font-size: 32px;
  padding: 2px 3px;
  border: 3px solid black;
  border-radius: 10px;
  /* background-color: #185c60; */
  cursor: pointer;
  margin-top: 40px;
}

.button .play-again {
  background-color: green;
}

.button .restart {
  background-color: red;
}

.button button:hover {
  color: white;
  border-color: white;
}

.button .play-again:hover {
  box-shadow: 0px 0px 27px 3px green;
}

.button .restart:hover {
  box-shadow: 0px 0px 27px 3px red;
}

.show-info {
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 34%;

  width: 100%;
  display: none;
  height: 20%;
  /* background-color: red; */
  background-color: transparent;
  z-index: 100;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.over {
  font-size: 76px;
  font-weight: bold;

  letter-spacing: 2px;
  transition: ease-in-out 0.2s;
}

.wins {
  font-size: 55px;
}

/* a{
    margin: 0;
    height: auto;
} */

/* 
@media screen and (min-height:1057px){
    .game-containor {
       
        height: 60vh;}
} */
